.back {
   /* background-color: aliceblue;*/
   background: rgb(125,185,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(125,185,232) 0%, rgb(41,137,216) 11%, rgb(47,44,234) 22%, rgb(145,44,234) 40%, rgb(194,44,232) 58%, rgb(200,96,229) 76%, rgb(229,96,194) 86%, rgb(229,96,111) 94%, rgb(244,0,16) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(125,185,232) 0%,rgb(41,137,216) 11%,rgb(47,44,234) 22%,rgb(145,44,234) 40%,rgb(194,44,232) 58%,rgb(200,96,229) 76%,rgb(229,96,194) 86%,rgb(229,96,111) 94%,rgb(244,0,16) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(125,185,232) 0%,rgb(41,137,216) 11%,rgb(47,44,234) 22%,rgb(145,44,234) 40%,rgb(194,44,232) 58%,rgb(200,96,229) 76%,rgb(229,96,194) 86%,rgb(229,96,111) 94%,rgb(244,0,16) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#f40010',GradientType=0 ); /* IE6-9 */
}

.colorText{
    text-shadow: 2px 2px 2px blue;
    color: aliceblue;;
}